language: node_js
node_js:
  - "0.10"
before_install:
  - npm install -g grunt-cli bower
install:
  - bower install
  - npm install
before_script: grunt build
deploy:
  provider: heroku
  api_key:
    secure: "12f792b5-657a-4a32-9418-48f4a848ec4e"
