<div class="jumbotron">
  <h1 class="coolFont">Wallpaper</h1>
  <img id="wallpaper-random" ng-src="{{main.wallpaperUrl}}"/>
  <p>
    <button class="btn btn-default" ng-click="main.random('wallpaper')">
        <span class="coolFont"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Get a new Issou</span>
    </button>
  </p>
</div>

<div class="jumbotron">
  <h1 class="coolFont">Icon</h1>
  <img ng-src="{{main.iconUrl}}"/>
  <p>
    <button class="btn btn-default" ng-click="main.random('icon')">
          <span class="coolFont"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Get a new Issou</span>
    </button>
  </p>
</div>
